body{
  margin:0;
  font-family:Arial, sans-serif;
  background:var(--gray);
}

/* HERO */
.hero{
  margin-top: 80px;
  background:linear-gradient(rgba(10, 37, 64, 0.548), rgba(10, 37, 64, 0.703)), url('img/corrida3.jpg');
  background-size:cover;
  background-position:center;
  color:var(--secondary);
  padding:120px 20px;
  text-align:center;
}

.hero h2{
  font-size:2.8em;
  margin-bottom:10px;
}

.hero p{
  opacity:0.9;
  margin-bottom:20px;
}

.btn{
  background:var(--accent);
  color:var(--secondary);
  padding:12px 25px;
  border-radius:30px;
  text-decoration:none;
  transition:0.3s;
  font-weight:bold;
}

.btn:hover{
  opacity:0.85;
}

/* CONTAINER */
.container{
  padding:60px 20px;
  max-width:1100px;
  margin:auto;
}

/* SECTION */
.section{
  margin-bottom:60px;
  background:var(--secondary);
  padding:30px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.05);
  position:relative;
  overflow:hidden;
}

/* ELEMENTO DECORATIVO COM SUA IMAGEM */
.section::before{
  content:"";
  position:absolute;
  width:160px;
  height:160px;
  background:url('img/CORRIDA.png');
  background-size:cover;
  opacity:0.04;
  top:-40px;
  right:-40px;
  border-radius:50%;
}

/* TITULOS */
.section h2{
  margin-bottom:20px;
  color:var(--primary);
}

.section h2::after{
  content:"";
  width:50px;
  height:4px;
  background:var(--accent);
  display:block;
  margin-top:5px;
  border-radius:5px;
}

/* TEXTO */
.section p{
  line-height:1.6;
  margin-bottom:15px;
  color:#333;
}

.section p strong{
  color:var(--primary);
}

/* LISTA */
.list{
  margin-top:10px;
  padding-left:20px;
}

.list li{
  margin-bottom:8px;
}

/* CARDS */
.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
  gap:20px;
}

.card{
  background:var(--secondary);
  border-radius:15px;
  padding:25px;
  text-align:center;
  box-shadow:0 5px 20px rgba(0,0,0,0.08);
  transition:0.3s;
  border-top:4px solid var(--accent);
}

.card:hover{
  transform:translateY(-8px) scale(1.02);
}

.card img{
  width:90px;
  height:90px;
  border-radius:50%;
  margin-bottom:10px;
  object-fit:cover;
  border:3px solid var(--accent);
}

.card p strong{
  color:var(--primary);
}

/* RESPONSIVO */
@media (max-width:768px){
  .hero{
    margin-top: 0px;
  }
  .hero h2{
    font-size:2em;
  }

  .section{
    padding:20px;
  }
}

.gallery{
  padding:60px 20px;
  max-width:1100px;
  margin:auto;
  text-align:center;
}

.gallery h2{
  color:var(--primary);
  margin-bottom:30px;
}

/* GRID MODERNO */
.grid-gallery{
  display:grid;
  grid-template-columns:2fr 1fr;
  grid-template-rows:200px 200px;
  gap:15px;
}

/* ITENS */
.grid-item{
  overflow:hidden;
  border-radius:15px;
  position:relative;
}

.grid-item img{
  width:100%;
  height:100%;
  object-fit:cover;
  transition:0.4s;
}

/* HOVER */
.grid-item:hover img{
  transform:scale(1.08);
}

/* IMAGEM GRANDE */
.grid-item.big{
  grid-row:1 / 3;
}

/* RESPONSIVO */
@media(max-width:768px){
  .grid-gallery{
    grid-template-columns:1fr;
    grid-template-rows:auto;
  }

  .grid-item.big{
    grid-row:auto;
  }

  .grid-item{
    height:200px;
  }
}

.faq{
  padding:60px 20px;
  max-width:900px;
  margin:auto;
}

.faq h2{
  text-align:center;
  color:var(--primary);
  margin-bottom:30px;
}

/* CONTAINER */
.faq-container{
  display:flex;
  flex-direction:column;
  gap:15px;
}

/* CARD */
.faq details{
  background:white;
  border-radius:12px;
  padding:18px 20px;
  box-shadow:0 5px 15px rgba(0,0,0,0.05);
  cursor:pointer;
  transition:0.3s;
  border-left:4px solid transparent;
}

.faq details[open]{
  border-left:4px solid var(--accent);
}

/* TITULO */
.faq summary{
  font-weight:bold;
  color:var(--primary);
  list-style:none;
  position:relative;
}

/* REMOVE SETINHA PADRÃO */
.faq summary::-webkit-details-marker{
  display:none;
}

/* SETA CUSTOM */
.faq summary::after{
  content:"+";
  position:absolute;
  right:0;
  font-size:20px;
  transition:0.3s;
}

/* QUANDO ABRE */
.faq details[open] summary::after{
  content:"–";
}

/* TEXTO */
.faq p{
  margin-top:10px;
  color:#444;
  line-height:1.5;
}


.contact{
  padding:60px 20px;
  max-width:800px;
  margin:auto;
  text-align:center;
}

.contact h2{
  color:var(--primary);
  margin-bottom:30px;
}

/* FORM */
.contact-form{
  background:white;
  padding:30px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.05);
  display:flex;
  flex-direction:column;
  gap:20px;
}

/* GRUPO */
.form-group{
  text-align:left;
  display:flex;
  flex-direction:column;
}

/* LABEL */
.form-group label{
  margin-bottom:5px;
  font-weight:bold;
  color:var(--primary);
}

/* INPUTS */
.form-group input,
.form-group select,
.form-group textarea{
  padding:12px;
  border-radius:10px;
  border:1px solid #ddd;
  outline:none;
  transition:0.3s;
  font-size:14px;
}

/* FOCO */
.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus{
  border-color:var(--accent);
  box-shadow:0 0 0 2px rgba(255,107,0,0.2);
}

/* BOTÃO */
.btn-submit{
  background:var(--accent);
  color:white;
  padding:14px;
  border:none;
  border-radius:30px;
  font-weight:bold;
  cursor:pointer;
  transition:0.3s;
}

.btn-submit:hover{
  opacity:0.85;
}

/* RESPONSIVO */
@media(max-width:768px){
  .contact-form{
    padding:20px;
  }
}